@import "@fontsource/playfair-display";
@import "@fontsource/poppins";

:root {
  --chocolate-cosmos: #5f021fff;
  --cinnabar: #e55c3bff;
  --selective-yellow: #f9b109ff;
  --buff: #deb38789;
  --avocado: #63792aff;
}

body {
  margin: 0;
  font-family: "'Playfair Display', serif";
  overflow: auto; /* Umožňuje scrollování obsahu */
  background-color: var(--buff);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.background {
  position: fixed; /* Udržuje pozadí fixované */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/img/logo.png'); /* Správná cesta k obrázku */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1; /* Pozadí zůstane za obsahem */
}


.content {
  position: relative; /* Zajišťuje, že obsah bude nad pozadím */
  z-index: 1;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* Elegantní nadpisy */
}

button {
  background-color: transparent; /* Průhledné pozadí */
  color: var(--chocolate-cosmos); /* Jemná barva textu */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: relative; /* Pro podtržení */
  transition: color 0.3s ease; /* Plynulá změna barvy textu */
}

button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Tloušťka podtržení */
  background-color: var(--cinnabar); /* Barva podtržení */
  transition: width 0.3s ease; /* Plynulé zvětšení podtržení */
}

button:hover {
  color: var(--cinnabar); /* Jemná změna barvy textu */
}

button:hover::after {
  width: 100%; /* Podtržení se rozšíří na celou šířku tlačítka */
}